<!DOCTYPE html>
<html>
<style>
p {
   font-size:2.0em;
}
</style>
<body bgcolor="blue" text="980000">
    <p> <b>Mined Minds offers Free training to allow students to enter the workforce as junior computer programmers. 
    Students will have personalized instruction depending on what their future goals are.
    If you are interested in training or have programming needs, contact us.</b></p>
<A HREF="http://www.minedminds.org"><center><IMG SRC="mm.png" ALT="Mined Minds"WIDTH=250 HEIGHT=200 border=4></center></A>
<br>
<br>
<A HREF="https://twitter.com/MinedMinds"><center><IMG SRC="twitter.png" ALT="Twitter"></center></A>
<br>
<br>
<A HREF="https://www.facebook.com/MinedMinds"><center><IMG SRC="facebook.jpg" ALT="Facebook" WIDTH=250 HEIGHT=200 border=4 ></center></A>



</body>
</HTML>


<!-- <!DOCTYPE html>
<html>

<A HREF="http://www.minedminds.org"><center><IMG SRC="mm.png" ALT="Mined Minds"WIDTH=250 HEIGHT=200 border=4></center></A>
<br>
<br>
<A HREF="https://twitter.com/MinedMinds"><center><IMG SRC="twitter.png" ALT="Twitter"></center></A>
<br>
<br>
<A HREF="https://www.facebook.com/MinedMinds"><center><IMG SRC="facebook.jpg" ALT="Facebook" WIDTH=250 HEIGHT=200 border=4></center></A>

<body bgcolor="blue" text="980000">

<b><center><font face="consolas" size="6">To Learn more about Mined Minds Click the icons above!!</font></center></b>

</body>
</HTML>

 -->
