<!DOCTYPE html>
<html>
</head>
<A HREF="/tictactoe"><center><IMG SRC="board.png" ALT="Play Game"class = "box"></center></A>
<body bgcolor="blue" text="980000">
<b><center><font face="consolas" size="6">What are you waiting for, Click to play!!</font></center></b>
</body>
</HTML>



