<!DOCTYPE html>
<html>
<A HREF="https://en.wikipedia.org/wiki/Tic-tac-toe#Strategy"><center><IMG SRC="rules2.png.gif" ALT="Rules" class = "box"></center></A>
<body bgcolor="blue" text="980000">
<b><center><font face="consolas" size="6">Learn how to play a perfect Tic Tac Toe game, Click on The Icon Above!!</font></center></b>
</body>
</HTML>



